@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-form {
  margin-top: 5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
label {
  display: inline-flex;
  padding: 15px 20px;
  max-width: fit-content;
  margin: 0rem auto;
}
input {
  display: inline-flex;
  flex-grow: inherit;
  border: 1px solid grey;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 2rem;
  color: brown;
}
input:focus {
  outline-color: aquamarine;
}
.photoUrl {
  margin-top: 2rem;
  width: 450px;
}
.btnContainer {
  margin-top: 3rem;
  display: flex;
}

.btn {
  height: 50px;
  width: 100px;
  margin-left: 20px;
}
